extends layout

block content
    include navbar
    div(class="container-fluid")
       div(class="jumbotron")
           h1(class='col-md-offset-2') #{welcome_text}
       div(class='col-md-8 col-md-offset-2')
          each blog, i in bloglist
              div(class="form-group")
                  h3
                    a(href='/edit_post/'+ blog.post_id)= blog.post_title
                  blockquote
                     p(class="lead"). #{blog.post_content}
                     small #{blog.user_post}
